@model Sire.Data.Dto.Master.User_VesselDto
@{
    ViewBag.Title = "UserVessel";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

<div class="row fix-head">
        <div class="col-md-12">
            <div class="card m-b-0">
                <div class="card-body head-tit">
                    <div class="col-sm-5">
                        <h5 class="head-tit-fnt">Add User Vessel</h5>
                    </div>
                    <div class="col-sm-7 pt-2">
                       </div>
                </div>
            </div>
        </div>
    </div>
<div class="tab-pane fade show active" id="User" role="tabpanel" aria-labelledby="pills-home-tab">
    <!-- End Navigation Fixed Bar-->
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.Raw(@ViewBag.Alert)
                        </div>
                    </div>
                </div>
                <form asp-action="AddEdit">
                    <hr>
                    @if (@ViewBag.IsEdit)
                    {
                        <input type="hidden" asp-for="Id" />
                    }
                    <div class="col-sm-2 pr-0 h-40">
                        <label class="fnt-lable" for="Fleet_Head_Id">User</label>
                    </div>
                    <div class="col-sm-2 pr-4 h-40">
                    
                        @Html.DropDownList("User_Id",new SelectList(ViewBag.User, "Id", "Value"),"Select", new { @class = "form-control select2"})
                        <span asp-validation-for="User_Id" class="text-danger"></span>       
                    </div>
                    <div class="col-sm-2 pr-0 h-40">
                        <label class="fnt-lable" for="Name">Vessel</label>
                    </div>
                    <div class="col-sm-2 pr-4 h-40">
                        @Html.DropDownList("Vessel_Id",new SelectList(ViewBag.Vessel, "Id", "Value"),"select", new { @class = "form-control select2"})
                    <span asp-validation-for="Vessel_Id" class="text-danger"></span>       
                    </div>
                      <div class="col-sm-2 pr-0 h-40">
                        <label class="fnt-lable" for="is_admin">Is Own Vessel ?</label>
                        
                    </div>

                     <div class="col-sm-2 pr-4 h-40">
                    
                        <label class="switch">
                            <input class="switch-input" id="is_own_vessel" type="checkbox" value="is_own_vessel"  />
                            <span class="switch-label" data-on="Yes" data-off="No"></span>
                            <span class="switch-handle"></span>
                             
                        </label>

                    </div>
                    <div class="col-sm-7 pt-2">
                        <button type="submit" class="n-btn  btn-success" id="btnSubmitOpt">Submit</button>
                        <a class="n-btn btn-danger" asp-action="Index">Back</a>
                        <input type="reset" name="Clear" value="Clear" class="n-btn btn-warning" />
                    </div>
                </form>
            </div>

        </div>
    </div>

</div>
