@model QuestionResponseModel
@{
    int l = 0;
    var index = -1;
    var inspectionCompleted = Convert.ToBoolean(TempData["InspectionCompleted"]);
    TempData.Keep();
}
<style>
    .shadow-textarea textarea.form-control::placeholder {
        font-weight: 300;
    }

    .shadow-textarea textarea.form-control {
        padding-left: 0.8rem;
    }
</style>
<script src="~/assets/js/jquery.min.js"></script>
<script src="~/assets/select2//js/select2.min.js"></script>
<script src="~/js/PageScript/InspectionFlow.js"></script>

<div class="row">

    <div class="col-lg-12  col-sm-12  pl-5 pr-5" style="@(inspectionCompleted ? "disabled=disabled" : "")">
        @{
            int hardwareQuestion = Model.questionDto.Hardware_Response_Type;
            int processQuestion = Model.questionDto.Process_Response_Type;
            int humanQuestion = Model.questionDto.Human_Response_Type;
            var hardwareResponse = Model.questionResponseDtos.Where(d => Convert.ToInt32(d.Response_Type) == 0 && Convert.ToInt32(d.Response_Type_Cateogary) == hardwareQuestion);
            var processResponse = Model.questionResponseDtos.Where(d => Convert.ToInt32(d.Response_Type) == 1 && Convert.ToInt32(d.Response_Type_Cateogary) == processQuestion);
            var humanResponse = Model.questionResponseDtos.Where(d => Convert.ToInt32(d.Response_Type) == 2 && Convert.ToInt32(d.Response_Type_Cateogary) == humanQuestion);

            <div class="row">
                <div class="col-3">
                    <select class="form-control" id="selResponseType">
                        <option value="">Select Response Type</option>
                        @if (hardwareResponse.Count() > 0)
                        {
                            <option value="Hardware">Hardware</option>
                        }
                        @if (processResponse.Count() > 0)
                        {
                            <option value="Process">Process</option>
                        }
                        @if (humanResponse.Count() > 0)
                        {
                            <option value="Human">Human</option>
                        }
                    </select>
                </div>
                <div class="col-3">
                    <button type="button" class="btn-copy btn btn-info" style="min-width:100px;">Add Response</button>
                </div>
            </div>

            <div class="Hardware" style="display:none">
                <div class="table-responsive" style="min-width:100%!important;" data-id="0" data-responsetype="0">
                    <table class="table table-bordered table-hover" cellspacing="0">
                        <tbody>
                            <tr>
                                <td colspan="2" style="width:30%"><h5><b>Hardware</b></h5></td>
                                <td colspan="2">
                                    <input type="checkbox" name="NotAnswarble" value="NotAnswarble" />
                                    <label class="fnt-lable">NOT ANSWARABLE</label>
                                </td>
                            </tr>
                            @foreach (Sire.Data.Dto.Question.QuestionResponseDto res in hardwareResponse)
                            {
                                <tr>
                                    <td colspan="4">
                                        <input type="radio" name="questionoption" value="@res.Id" /><label class="fnt-lable">@res.Value</label>
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td colspan="4">
                                    <textarea class="form-control z-depth-1" rows="3" placeholder="Comment..."></textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="Process" style="display:none">
                <div class="table-responsive" style="min-width:100%!important;" data-id="0" data-responsetype="1">
                    <table class="table table-bordered table-hover" cellspacing="0">
                        <tbody>
                            <tr>
                                <td colspan="2" style="width:30%"><h5><b>Process</b></h5></td>
                                <td colspan="2">
                                    <input id="PQuestion_Id" type="checkbox" name="NotAnswarble" value="NotAnswarble" />
                                    <label class="fnt-lable" for="PQuestion_Id">NOT ANSWARABLE</label>
                                </td>
                            </tr>
                            @foreach (Sire.Data.Dto.Question.QuestionResponseDto res in processResponse)
                            {
                                <tr>
                                    <td colspan="4">
                                        <input type="radio" name="questionoption" value="@res.Id" /><label class="fnt-lable">@res.Value</label>
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td colspan="4">
                                    <textarea class="form-control z-depth-1" rows="3" placeholder="Comment..."></textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="Human" style="display:none">
                <div class="table-responsive" style="min-width:100%!important;" data-id="0" data-responsetype="2">
                    <table class="table table-bordered table-hover" cellspacing="0">
                        <tbody>
                            <tr>
                                <td colspan="2" style="width:30%"><h5><b>Human</b></h5></td>
                                <td colspan="2">
                                    <input id="HQuestion_Id" type="checkbox" name="NotAnswarble" value="NotAnswarble" />
                                    <label class="fnt-lable" for="HQuestion_Id">NOT ANSWARABLE</label>
                                </td>
                            </tr>
                            @foreach (Sire.Data.Dto.Question.QuestionResponseDto res in humanResponse)
                            {
                                <tr>
                                    <td colspan="4">
                                        <input type="radio" name="questionoption" value="@res.Id" /><label class="fnt-lable">@res.Value</label>
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td colspan="4">
                                    <textarea class="form-control z-depth-1" rows="3" placeholder="Comment..."></textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr />

            <form>

                <div class="col-lg-12 col-sm-12">
                    <div class="QuestionContainer" style="width:100%!important">
                        @foreach (Sire.Data.Dto.Inspection.InspectionResponseDto inspectionData in Model.inspectionResponseDtos)
                        {
                            if (inspectionData.ResponseType == Sire.Data.Entities.Question.ResponseTypes.Hardware)
                            {
                                index++;
                                var Is_Answerable = inspectionData.Is_Answerable ? "checked=checked" : "";
                                var checkboxid = "checkbox_" + @index;
                                var textareaid = "Response_Comment_" + @index;
                                var radioname = "questionoption_" + @index;
                                <div class="table-responsive" style="min-width:100%!important;" data-id="@inspectionData.Id" data-responsetype="0">
                                    <table class="table table-bordered table-hover" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td colspan="2" style="width:30%"><h5><b>Hardware</b></h5></td>
                                                <td colspan="2">
                                                    <input type="checkbox" name="NotAnswarble" value="NotAnswarble" @Is_Answerable id="@checkboxid" />
                                                    <label class="fnt-lable" for="@checkboxid">NOT ANSWARABLE</label>
                                                </td>
                                            </tr>
                                            @foreach (Sire.Data.Dto.Question.QuestionResponseDto res in hardwareResponse)
                                            {
                                                var radioid = "radio_" + @res.Id + "_" + @index;
                                                var optionchecked = res.Id.ToString() == inspectionData.Response_Value ? "checked=checked" : "";
                                                <tr>
                                                    <td colspan="4">
                                                        <input type="radio" name="@radioname" value="@res.Id" @optionchecked id="@radioid" /><label class="fnt-lable" for="@radioid">@res.Value</label>
                                                    </td>
                                                </tr>
                                            }
                                            <tr>
                                                <td colspan="4">
                                                    <textarea class="form-control z-depth-1" id="@textareaid" rows="3" placeholder="Comment...">@inspectionData.Response_Comment</textarea>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            }
                            else if (inspectionData.ResponseType == Sire.Data.Entities.Question.ResponseTypes.Process)
                            {
                                index++;
                                var Is_Answerable = inspectionData.Is_Answerable ? "checked=checked" : "";
                                var checkboxid = "checkbox_" + @index;
                                var textareaid = "Response_Comment_" + @index;
                                var radioname = "questionoption_" + @index;
                                <div class="table-responsive" style="min-width:100%!important;" data-id="@inspectionData.Id" data-responsetype="1">
                                    <table class="table table-bordered table-hover" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td colspan="2" style="width:30%"><h5><b>Process</b></h5></td>
                                                <td colspan="2">
                                                    <input type="checkbox" name="NotAnswarble" value="NotAnswarble" @Is_Answerable id="@checkboxid" />
                                                    <label class="fnt-lable" for="@checkboxid">NOT ANSWARABLE</label>
                                                </td>
                                            </tr>
                                            @foreach (Sire.Data.Dto.Question.QuestionResponseDto res in processResponse)
                                            {
                                                var radioid = "radio_" + @res.Id + "_" + @index;
                                                var optionchecked = res.Id.ToString() == inspectionData.Response_Value ? "checked=checked" : "";
                                                <tr>
                                                    <td colspan="4">
                                                        <input type="radio" name="@radioname" value="@res.Id" @optionchecked id="@radioid" /><label class="fnt-lable" for="@radioid">@res.Value</label>
                                                    </td>
                                                </tr>
                                            }
                                            <tr>
                                                <td colspan="4">
                                                    <textarea class="form-control z-depth-1" id="@textareaid" rows="3" placeholder="Comment...">@inspectionData.Response_Comment</textarea>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            }
                            else if (inspectionData.ResponseType == Sire.Data.Entities.Question.ResponseTypes.Human)
                            {
                                index++;
                                var Is_Answerable = inspectionData.Is_Answerable ? "checked=checked" : "";
                                var checkboxid = "checkbox_" + @index;
                                var textareaid = "Response_Comment_" + @index;
                                var radioname = "questionoption_" + @index;
                                <div class="table-responsive" style="min-width:100%!important;" data-id="@inspectionData.Id" data-responsetype="2">
                                    <table class="table table-bordered table-hover" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td colspan="2" style="width:30%"><h5><b>Human</b></h5></td>
                                                <td colspan="2">
                                                    <input type="checkbox" name="NotAnswarble" value="NotAnswarble" @Is_Answerable id="@checkboxid" />
                                                    <label class="fnt-lable" for="@checkboxid">NOT ANSWARABLE</label>
                                                </td>
                                            </tr>
                                            @foreach (Sire.Data.Dto.Question.QuestionResponseDto res in humanResponse)
                                            {
                                                var radioid = "radio_" + @res.Id + "_" + @index;
                                                var optionchecked = res.Id.ToString() == inspectionData.Response_Value ? "checked=checked" : "";
                                                <tr>
                                                    <td colspan="4">
                                                        <input type="radio" name="@radioname" value="@res.Id" @optionchecked id="@radioid" /><label class="fnt-lable" for="@radioid">@res.Value</label>
                                                    </td>
                                                </tr>
                                            }
                                            <tr>
                                                <td colspan="4">
                                                    <textarea class="form-control z-depth-1" id="@textareaid" rows="3" placeholder="Comment...">@inspectionData.Response_Comment</textarea>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            }
                        }
                    </div>
                    <div class="modal fade bd-example-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel2" aria-hidden="true">
                        <div class="modal-dialog modal-lg" style="margin-top:15em;">
                            <div class="modal-content">
                                <div class="modal-header p-3">
                                    <h5 class="modal-title h4 mod-tit" id="myLargeModalLabel">Response </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body" id="Reversetab">
                                </div>

                                <div class="modal-footer p-3">
                                    <button type="button" class="btn  btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn  btn-primary" id="FinalSaveLimits">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-sm-12" style="text-align:center">
                    @if (inspectionCompleted)
                    {
                        <button type="button" disabled class="btn btn-success" style="min-width:100px;" onclick="saveResponseData(@Model.questionDto.Id)">Save</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-success" style="min-width:100px;" onclick="saveResponseData(@Model.questionDto.Id)">Save</button>
                    }
                </div>

                @if (inspectionCompleted)
                {
                    <button type="button" disabled class="n-btn  btn-success invisible" onclick="ResponseValue(@Model.questionDto.Id)">Submit</button>
                }
                else
                {
                    <button type="button" class="n-btn  btn-success invisible" onclick="ResponseValue(@Model.questionDto.Id)">Submit</button>
                }


            </form>
        }
    </div>
</div>

