@using Sire.Data.Dto.Master
@model Sire.Data.Dto.Master.VesselDto
@{
    ViewBag.Title = "Vessel";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

<div class="row fix-head">
        <div class="col-md-12">
            <div class="card m-b-0">
                <div class="card-body head-tit">
                    <div class="col-sm-5">
                        <h5 class="head-tit-fnt">Add Vessel </h5>
                    </div>
                    <div class="col-sm-7 pt-2">
                       </div>
                </div>
            </div>
        </div>
    </div>
<div class="tab-pane fade show active" id="User" role="tabpanel" aria-labelledby="pills-home-tab">
    <!-- End Navigation Fixed Bar-->
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                 
                 <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.Raw(@ViewBag.Alert)
                    </div>
                </div>
            </div>
                <form asp-action="AddEdit">
                    <hr>
                    @if (@ViewBag.IsEdit)
                    {
                        <input type="hidden" asp-for="Id" />
                    }
                    <div class="col-sm-1 pr-0 h-40">
                        <label class="fnt-lable" for="Name">Name</label>
                    </div>
                    <div class="col-sm-2 pr-4 h-40">
                        <input type="text" asp-for="Name" class="form-control inp" />
                    </div>
                    <div class="col-sm-1 pr-0 h-40">
                        <label class="fnt-lable" for="Vessel_Type">IMO</label>
                    </div>
                    <div class="col-sm-2 pr-4 h-40">
                        <input type="text" asp-for="IMO" class="form-control inp" />
                    </div>
                    <div class="col-sm-1 pr-0 h-40">
                        <label class="fnt-lable" for="Vessel_Type">Vessel Type</label>
                    </div>
                    <div class="col-sm-2 pr-4 h-40">
                      @*  <input type="text" asp-for="Vessel_Type" class="form-control inp" />*@
                 
                <select asp-for="Vessel_Type" asp-items="Html.GetEnumSelectList<VesselTypes>()" class= "form-control select2">
    <option selected="selected" value="">Select</option>
</select>
             </div>


                    <div class="col-sm-1 pr-0 h-40">
                        <label class="fnt-lable" for="Vessel_Type">Operator</label>
                    </div>
                    <div class="col-sm-2 pr-4 h-40">
                           @Html.DropDownList("Operator_id",new SelectList(ViewBag.Operator, "Id", "Value"),"Select", new { @class = "form-control select2"})
                        
                       </div>

                      <div class="col-sm-1 pr-0 h-40">
                        <label class="fnt-lable" for="Vessel_Type">Fleet</label>
                    </div>
                    <div class="col-sm-2 pr-4 h-40">
                        @*<input type="text" asp-for="Fleet_id" class="form-control inp" />*@
                           @Html.DropDownList("Fleet_id",new SelectList(ViewBag.Fleet, "Id", "Value"),"Select", new { @class = "form-control select2"})
                    </div>
                    <div class="col-sm-7 pt-2">
                       

                           <button type="submit" class="n-btn  btn-success" id="btnSubmitOpt">Submit</button>
                        <a class="n-btn btn-danger" asp-action="Index">Back</a>
                        <input type="reset" name="Clear" value="Clear" class="n-btn btn-warning" />
                    </div>
                </form>
            </div>

        </div>
    </div>

</div>

